version: "3.9"

services:
  laravel:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: em-manager-app
    volumes:
      - .:/var/www
      - ./database:/var/www/database
    ports:
      - "8000:8000"
    restart: unless-stopped
