create table `users` (
    `id` int unsigned not null auto_increment primary key,
    `name` varchar(255) not null,
    `email` varchar(255) not null,
    `email_verified_at` timestamp null,
    `password` varchar(255) not null,
    `remember_token` varchar(100) null,
    `created_at` timestamp null,
    `updated_at` timestamp null
) default character set utf8 collate 'utf8_general_ci';

alter table `users` add unique `users_email_unique`(`email`);

create table `password_reset_tokens` (
    `email` varchar(255) not null,
    `token` varchar(255) not null,
    `created_at` timestamp null,
    primary key (`email`)
) default character set utf8 collate 'utf8_general_ci';

create table `failed_jobs` (
    `id` int unsigned not null auto_increment primary key,
    `uuid` varchar(255) not null,
    `connection` text not null,
    `queue` text not null,
    `payload` longtext not null,
    `exception` longtext not null,
    `failed_at` timestamp not null default CURRENT_TIMESTAMP
) default character set utf8 collate 'utf8_general_ci';

alter table `failed_jobs` add unique `failed_jobs_uuid_unique`(`uuid`);

create table `personal_access_tokens` (
    `id` int unsigned not null auto_increment primary key,
    `tokenable_type` varchar(255) not null,
    `tokenable_id` int unsigned not null,
    `name` varchar(255) not null,
    `token` varchar(64) not null,
    `abilities` text null,
    `last_used_at` timestamp null,
    `expires_at` timestamp null,
    `created_at` timestamp null,
    `updated_at` timestamp null
) default character set utf8 collate 'utf8_general_ci';

alter table `personal_access_tokens` add index `personal_access_tokens_tokenable_type_tokenable_id_index`(`tokenable_type`, `tokenable_id`);
alter table `personal_access_tokens` add unique `personal_access_tokens_token_unique`(`token`);

create table `entreprises` (
    `id` int unsigned not null auto_increment primary key,
    `nom_entreprise` varchar(255) not null,
    `nom_directeur` varchar(255) not null,
    `prenom_directeur` varchar(255) not null,
    `telephone_entreprise` varchar(255) not null,
    `email_entreprise` varchar(255) not null,
    `motDePasse_entreprise` varchar(255) not null,
    `matricule_entreprise` varchar(255) not null,
    `role` varchar(255) not null default 'entreprise',
    `created_at` timestamp null,
    `updated_at` timestamp null
) default character set utf8 collate 'utf8_general_ci';

alter table `entreprises` add unique `entreprises_matricule_entreprise_unique`(`matricule_entreprise`);

create table `employes` (
    `id` int unsigned not null auto_increment primary key,
    `id_entreprise` varchar(255) not null,
    `nom_employe` varchar(255) not null,
    `prenom_employe` varchar(255) not null,
    `adresse_employe` varchar(255) not null,
    `telephone` varchar(255) not null,
    `email_employe` varchar(255) not null,
    `matricule_employe` varchar(255) not null,
    `poste` varchar(255) not null,
    `departement` varchar(255) not null,
    `date_embauche` date not null,
    `salaire` varchar(255) not null,
    `mot_de_passe` varchar(255) not null,
    `role` varchar(255) not null default 'employe',
    `created_at` timestamp null,
    `updated_at` timestamp null
) default character set utf8 collate 'utf8_general_ci';

alter table `employes` add unique `employes_matricule_employe_unique`(`matricule_employe`);

create table `conges` (
    `id` int unsigned not null auto_increment primary key,
    `id_employe` varchar(255) not null,
    `id_entreprise` varchar(255) not null,
    `type_conge` varchar(255) not null,
    `date_debut` date not null,
    `date_fin` date not null,
    `statut` varchar(255) not null default 'En attente...',
    `created_at` timestamp null,
    `updated_at` timestamp null
) default character set utf8 collate 'utf8_general_ci';
